@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background: #eee;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
};

span {
  color: #2b2b2b;
}